.heading-text-1 {
  transition: all 0.6s ease; /* Add a transition for the transform property */
  transform: translatey(-10%);
  opacity: 0.1;
}

.heading-text-1-active {
  transform: translateY(0);
  opacity: 1;
}

.heading-text-2 {
  transition: all 0.6s ease; /* Add a transition for the transform property */
  transform: translateX(-10%);
  opacity: 0.1;
}

.heading-text-2-active {
  transform: translateX(0);
  opacity: 1;
}

.header-image-1 {
  transition: all 1.5s ease; /* Add a transition for the transform property */
  transform: translateX(-10%);
  opacity: 0.1;
}

.header-image-1-active {
  transform: translateY(0);
  opacity: 1;
}

.header-image-2 {
  transition: all 1.5s ease; /* Add a transition for the transform property */
  transform: translateY(-10%);
  opacity: 0.1;
}

.header-image-2-active {
  transform: translateY(0);
  opacity: 1;
}

.header-image-3 {
  transition: all 1.5s ease; /* Add a transition for the transform property */
  transform: translateY(10%);
  opacity: 0.1;
}

.header-image-3-active {
  transform: translateY(0);
  opacity: 1;
}

.header-data {
  transition: all 2s ease;
  opacity: 0;
}

.header-data-active {
  opacity: 1;
}
